{% extends "base.html" %}
{% block title %}Just another page{% endblock title %}
{% block headline %}
	<h1>Tämäkin on uusi, fantsumpi otsikko</h1>
{% endblock headline %}
{% block body %}
	<p>Ja tänne voi laittaa jotain kivaa tekstiä</p>
	<form method=POST>
		<label>
			name: <br>
			<input type=text name="name">
		</label>
		<br><br>
		<label>
			email: <br>
			<input type=email name="email">
		</label>
		<br><br>
		<label>
			pvm: <br>
			<input type=date name="pvm">
		</label>
		<br><br>
		<label>
			jaa-a: <br>
			<input type=checkbox name="joo" value="joo">
		</label>
		<br><br>
		Joku tämmönen viel tähän <br>
		<label>
			a: <input type=radio name="öö" value="a"> 
		</label>		
		<br>
		<label>
			b: <input type=radio name="öö" value="b"> <br>
		</label>
		<label>
			c: <input type=radio name="öö" value="c"> <br>
		</label>
		<br><br>
		<input type=submit>
	</form>
{% endblock body %}
