{% if not title %}
  {% set title="Welcome to base"%}
{% endif %}

<!doctype html>
<html lang=en>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
  </head>
  <body>
    <nav>
      <a href="/">Base Page</a> - 
      <a href="/one">First Page</a> - 
      <a href="/gamelist">Gamelist</a> - 
      <a href="/addgame">Add a Game</a> 
    </nav>
    <h1>{{ title }}</h1>
    {% block content %}
      <!-- Flash message -->
      <a href="/msg"> Send a Secret message to base</a>
      {% if get_flashed_messages() %}                                         
        {% for message in get_flashed_messages() %}                     
          <p>
            <b>{{ message }}</b>
          </p>                             
        {% endfor %}
      {% endif %}
      <!-- end of Flash message -->
      <p>This message is sent to you from base.</p>
    {% endblock content%}
  </body>
</html>
