<!doctype html>
<html lang=en>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		{% set title = "This is a title" %}
		<title>
			{% block title %}
				{{ title }}
			{% endblock title %}
		</title>
	</head>
	<body>
		<nav>
			<a href="/">Frontpage</a> - 
			<a href="/list">List of games</a>
		</nav>
		<h1>
			{% block headline %}
				{{ title }}
			{% endblock headline %}
		</h1>
		{% block body %}
			<p>
				This is the frontpage (base)
			</p>		
		{% endblock body %}
	</body>
</html>
