{% if not title %}
  {% set title = "BASE" %}
{% endif %}

<!doctype html>
<html lang=en>
  <head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <meta name=viewport content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
     integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
       html {padding: 1em}
    </style>
  </head>
  <body>
    <nav>
      <a href="/">Frontpage</a> -   
      {% if currentUser() %}  
        <a href="/list">My meals</a> -
        <a href="/logout">Logout</a> - 
        {{ currentUser().email }}
      {% else %}
        <a href="/login">Login</a> - 
        <a href="/register">Register</a>
      {% endif %}
    </nav>
    {% if get_flashed_messages() %}
      {% for msg in get_flashed_messages() %}
        <p>{{ msg }}</p>		
      {% endfor %}
    {% endif %}
    <h1>{{ title }}</h1>
    {% block content %}
      <p>BASE tekstii</p>
    {% endblock %}
  </body>
</html>

