{% set title = "Meal Tracker App" %}

{% extends "base.html" %}

{% block content %}
   <h4>Welcome to my Meal Tracker App!</h4>
   <p>
      The purpose of the app is to help you track your meals, calorie intake, protein intake, etc.
      At the moment it's still very much in beta-phase: you can input meals and their calories, but the actual
      tracking part (date, time, etc) is still to be done.
   </p>
   <p>
      New users can be made, but currently it still requires a registration key, since the authentication is still missing.
      For testing purposes, here is a user to play around with:<br>
           Username: test@test.test<br>
           Password: test
   </p>
   <p>
      This project was made as part of the course "Python Web Service From Idea to Production" by Tero Karvinen at Haaga-Helia.
      Most if not all the sources used are from his website www.terokarvinen.com.
   </p>
{% endblock %}
